{% extends "layout.html" %}

{% block content %}
  {% for user in users %}
    {% if user != current_user and user.id not in subs %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
        <div class="media-body">
          <h2><a class="article-title">{{ user.username }}</a></h2>
        </div>
        <form method="POST" action="{{url_for('subscribe',poster_id=user.id,poster_name=user.username)}}">
          {{ form.hidden_tag() }}
          {{ form.follow_unfollow(onclick="this.form.submit()") }}
        </form>
    </article>
    {% endif %}
  {% endfor %}
  
{% endblock %}
